
@{ ViewBag.Title = "Index"; }

<h2>Faculty</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Track</h2>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/Track">Track &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Batch</h2>
       <p><a class="btn btn-default" href="http://localhost:63680/faculty/Batch">Batch &raquo;</a></p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Modules</h2>
       
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/Module">Modules &raquo;</a></p>
    </div>

</div>