
@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Module</h2>

<div class="row">
    <div class="col-md-4">
        <h2>UpdateModuleDuration</h2>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateModuleDuration">UpdateModuleDuration &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>UpdateModuleName</h2>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateModuleName">UpdateModuleName &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>UpdateModuleStatus</h2>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateModuleStatus">UpdateModuleStatus &raquo;</a></p>
    </div>
   
</div>