
@{
    ViewBag.Title = "Updatetrack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Updatetrack</h2>

<div class="row">
    <div class="col-md-4">
        <h2>UpdateTrackDuration</h2>

        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateTrackDuration">UpdateTrackDuration &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>UpdateTrackName</h2>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateTrackName">UpdateTrackName &raquo;</a></p>
    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>UpdateTrackStatus</h2>

        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateTrackStatus">UpdateTrackStatus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>UpdateTrackDescription</h2>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/UpdateTrackDescription">UpdateTrackDescription &raquo;</a></p>
    </div>
 </div>

