
@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h2>Welcome to Course Management System</h2>
    <p class="lead">Manages Tracks, Batches And Modules</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Faculty</h2>
        <p>
            This is for the faculty for the manupulation of Modules
        </p>
        <p><a class="btn btn-default" href="http://localhost:63680/faculty/index">faculty access &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Operation Team</h2>
        <p>Operation team is manupulates the batches and tracks</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">operational team access &raquo;</a></p>
    </div>

</div>

